# PyCity School Analysis

In [3]:
# Setup
# Can also use open(csvpath)
import pandas as pd
from pathlib import Path

# Load files for Analysis
schools_data = Path("schools_complete.csv")
students_data = Path("students_complete.csv")

# Read previously loaded data files and store them into Pandas DataFrames
school_data = pd.read_csv(schools_data)
student_data = pd.read_csv(students_data)

# Combine files into one dataset
complete_school_data = pd.merge(student_data, school_data, how="left",
                        on=["school_name", "school_name"])
complete_school_data.tail()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,14,Charter,1635,1043130
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,Charter,1635,1043130

## District Summary

In [4]:
#calculate the number of unique schools
school_count = complete_school_data["school_name"].nunique()

In [5]:
school_count

15

In [6]:
#calculate the total number of students
student_count = complete_school_data["Student ID"].count()
#school_count["Student ID"]

In [7]:
student_count

39170

In [8]:
#calculate the total budget
total_budget = complete_school_data["budget"].sum()
#total_budget["budget"]

In [9]:
total_budget

82932329558

In [10]:
#calculate the average (mean) math score
average_math_score = complete_school_data["math_score"].mean()

In [11]:
average_math_score

78.98537145774827

In [12]:
#calculate the average (mean) reading score
average_reading_score = complete_school_data["reading_score"].mean()

In [13]:
average_reading_score

81.87784018381414

In [14]:
#Calculate the % of students who passed math (scores >= 70)
passing_math_count = C.count()["student_name"]
passing_math_percentage = passing_math_count/ float(student_count) *100

In [30]:
passing_math_count

29370

In [16]:
#Calculate the % of students who passed reading (scores >= 70)
passing_reading_count = complete_school_data[(complete_school_data["reading_score"] >= 70)].count()["student_name"]
passig_reading_percentage = passing_reading_count/ float(student_count) *100

In [17]:
passing_reading_count

33610

In [18]:
#Calculate the % of students who passed both math and reading (scores >= 70)
#passing_both_count = passing_math_count & passing_reading_count
#passing_both_percentage = passing_both_count/ float(student_count) *100

In [19]:
#passing_both_count

In [20]:
passing_both_count = complete_school_data[(complete_school_data["math_score"] >= 70) &
    (complete_school_data["reading_score"] >= 70)].count()["student_name"]
passing_both_percentage = passing_both_count/ float(student_count) *100

In [21]:
passing_both_count

25528

In [22]:
#Create a high_level snapshot of the districts's key metrics in a DataFrame
district_summary =

#Formatting
district_summary["Total Students"]= district summary["Total Students"].map("{:,}".format)
district_summary["Total Budget"]= district summary["Total Budget"].map("${:,.2f}".format)

#Display Data Frame
district_summary =

SyntaxError: invalid syntax (2614842592.py, line 2)

## School Summary

In [23]:
#select all of the school types
school_types = complete_school_data["type"].nunique()

In [24]:
school_types

2

In [25]:
per_school_counts = float(student_count)/school_count

In [26]:
per_school_counts

2611.3333333333335

In [27]:
#Calculate the total school budget and per capita spending per school
per_school_budget = total_budget/school_count
per_school_capita = total_budget/student_count

In [28]:
#Calculate the average test scores per school
per_school_math = complete_school_data.groupby("school_name")["math_score"].mean()
per_school_reading = complete_school_data.groupby("school_name")["reading_score"].mean()

In [31]:
#Calculate the number of students per school with math scores 70 or higher
students_passing_math = complete_school_data[(complete_school_data["math_score"] >= 70)]
school_students_passing_math = students_passing_math.groupby("school_name").size()

In [32]:
students_passing_math

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
5,5,Bryan Miranda,M,9th,Huang High School,94,94,0,District,2917,1910635
6,6,Sheena Carter,F,11th,Huang High School,82,80,0,District,2917,1910635
8,8,Michael Roth,M,10th,Huang High School,95,87,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,14,Charter,1635,1043130
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,Charter,1635,1043130

In [33]:
school_students_passing_math

school_name
Bailey High School       3318
Cabrera High School      1749
Figueroa High School     1946
Ford High School         1871
Griffin High School      1371
Hernandez High School    3094
Holden High School        395
Huang High School        1916
Johnson High School      3145
Pena High School          910
Rodriguez High School    2654
Shelton High School      1653
Thomas High School       1525
Wilson High School       2143
Wright High School       1680
dtype: int64

In [ ]:
#Calculate the number of students per school with reading scores 70 or higher
students_passing_reading =
school_students_passing_reading =

In [ ]:

# Use the provided code to calculate the number of students per school that passed both math and reading with scores of 70 or higher
students_passing_math_and_reading = school_data_complete[
    (school_data_complete["reading_score"] >= 70) & (school_data_complete["math_score"] >= 70)]
school_students_passing_math_and_reading = students_passing_math_and_reading.groupby(["school_name"]).size()

In [ ]:
# Use the provided code to calculate the passing rates
per_school_passing_math = school_students_passing_math / per_school_counts * 100
per_school_passing_reading = school_students_passing_reading / per_school_counts * 100
overall_passing_rate = school_students_passing_math_and_reading / per_school_counts * 100

In [ ]:
#select all of the school types
school_types =

#calculate the total student count per school
per_school_counts =

#Calculate the total school budget and per capita spending per school
per_school_budget =
per_school_capita =

#Calculate the average test scores per school
per_school_math =
per_school_reading =

#Calculate the number of students per school with math scores 70 or higher
students_passing_math =
school_students_passing_math =

#Calculate the number of students per school with reading scores 70 or higher
students_passing_reading =
school_students_passing_reading =

# Use the provided code to calculate the number of students per school that passed both math and reading with scores of 70 or higher
students_passing_math_and_reading = school_data_complete[
    (school_data_complete["reading_score"] >= 70) & (school_data_complete["math_score"] >= 70)
]
school_students_passing_math_and_reading = students_passing_math_and_reading.groupby(["school_name"]).size()

# Use the provided code to calculate the passing rates
per_school_passing_math = school_students_passing_math / per_school_counts * 100
per_school_passing_reading = school_students_passing_reading / per_school_counts * 100
overall_passing_rate = school_students_passing_math_and_reading / per_school_counts * 100

# Create a DataFrame called `per_school_summary` with columns for the calculations above.
per_school_summary = 

# Formatting
per_school_summary["Total School Budget"] = per_school_summary["Total School Budget"].map("${:,.2f}".format)
per_school_summary["Per Student Budget"] = per_school_summary["Per Student Budget"].map("${:,.2f}".format)

# Display the DataFrame
per_school_summary =

## Highest-Performing Schools (by Overall % Passing)

In [ ]:
# Sort the schools by `% Overall Passing` in descending order and display the top 5 rows.
top_schools = complete_school_data.sort_values(by=[])
top_schools.head(5)

## Bottom- Performing Schools (by Overall % Passing)

In [ ]:
# Sort the schools by `% Overall Passing` in ascending order and display the top 5 rows.
bottom_schools = 
bottom_schools.head(5)

## Math Scores by Grade

In [ ]:
# Use the code provided to separate the data by grade
ninth_graders = school_data_complete[(school_data_complete["grade"] == "9th")]
tenth_graders = school_data_complete[(school_data_complete["grade"] == "10th")]
eleventh_graders = school_data_complete[(school_data_complete["grade"] == "11th")]
twelfth_graders = school_data_complete[(school_data_complete["grade"] == "12th")]

# Group by `school_name` and take the mean of the `math_score` column for each.
ninth_grade_math_scores = 
tenth_grader_math_scores = 
eleventh_grader_math_scores = 
twelfth_grader_math_scores = 

# Combine each of the scores above into single DataFrame called `math_scores_by_grade`
math_scores_by_grade = 

# Minor data wrangling
math_scores_by_grade.index.name = None

# Display the DataFrame
math_scores_by_grade

## Reading Score by Grade

In [ ]:
# Use the code provided to separate the data by grade
ninth_graders = school_data_complete[(school_data_complete["grade"] == "9th")]
tenth_graders = school_data_complete[(school_data_complete["grade"] == "10th")]
eleventh_graders = school_data_complete[(school_data_complete["grade"] == "11th")]
twelfth_graders = school_data_complete[(school_data_complete["grade"] == "12th")]

# Group by `school_name` and take the mean of the the `reading_score` column for each.
ninth_grade_reading_scores = 
tenth_grader_reading_scores = 
eleventh_grader_reading_scores = 
twelfth_grader_reading_scores = 

# Combine each of the scores above into single DataFrame called `reading_scores_by_grade`
reading_scores_by_grade = 

# Minor data wrangling
reading_scores_by_grade = reading_scores_by_grade[["9th", "10th", "11th", "12th"]]
reading_scores_by_grade.index.name = None

# Display the DataFrame
reading_scores_by_grade =

## Scores by School Spending

In [ ]:
# Establish the bins 
spending_bins = [0, 585, 630, 645, 680]
labels = ["<$585", "$585-630", "$630-645", "$645-680"]

# Create a copy of the school summary since it has the "Per Student Budget" 
school_spending_df = per_school_summary.copy()

# Use `pd.cut` to categorize spending based on the bins.
school_spending_df["Spending Ranges (Per Student)"] = 
school_spending_df

#  Calculate averages for the desired columns. 
spending_math_scores = school_spending_df.groupby(["Spending Ranges (Per Student)"])["Average Math Score"].mean()
spending_reading_scores = school_spending_df.groupby(["Spending Ranges (Per Student)"])["Average Reading Score"].mean()
spending_passing_math = school_spending_df.groupby(["Spending Ranges (Per Student)"])["% Passing Math"].mean()
spending_passing_reading = school_spending_df.groupby(["Spending Ranges (Per Student)"])["% Passing Reading"].mean()
overall_passing_spending = school_spending_df.groupby(["Spending Ranges (Per Student)"])["% Overall Passing"].mean()

# Assemble into DataFrame
spending_summary = 

# Display results
spending_summary

## Scores by School Size

In [ ]:
# Establish the bins.
size_bins = [0, 1000, 2000, 5000]
labels = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

# Categorize the spending based on the bins
# Use `pd.cut` on the "Total Students" column of the `per_school_summary` DataFrame.

per_school_summary["School Size"] = 
per_school_summary

In [ ]:
# Calculate averages for the desired columns. 
size_math_scores = per_school_summary.groupby(["School Size"])["Average Math Score"].mean()
size_reading_scores = per_school_summary.groupby(["School Size"])["Average Reading Score"].mean()
size_passing_math = per_school_summary.groupby(["School Size"])["% Passing Math"].mean()
size_passing_reading = per_school_summary.groupby(["School Size"])["% Passing Reading"].mean()
size_overall_passing = per_school_summary.groupby(["School Size"])["% Overall Passing"].mean()

In [ ]:
# Create a DataFrame called `size_summary` that breaks down school performance based on school size (small, medium, or large).
# Use the scores above to create a new DataFrame called `size_summary`
size_summary = 

# Display results
size_summary

## Scores by School Type

In [ ]:
# Group the per_school_summary DataFrame by "School Type" and average the results.
average_math_score_by_type = per_school_summary.groupby(["School Type"])["Average Math Score"].mean()
average_reading_score_by_type = per_school_summary.groupby(["School Type"])["Average Reading Score"].mean()
average_percent_passing_math_by_type = per_school_summary.groupby(["School Type"])["% Passing Math"].mean()
average_percent_passing_reading_by_type = per_school_summary.groupby(["School Type"])["% Passing Reading"].mean()
average_percent_overall_passing_by_type = per_school_summary.groupby(["School Type"])["% Overall Passing"].mean()

# Assemble the new data by type into a DataFrame called `type_summary`
type_summary = 

# Display results
type_summary