# PyCity School Analysis

In [1]:
# Setup
# Can also use open(csvpath)
import pandas as pd
from pathlib import Path

# Load files for Analysis
schools_data = Path("schools_complete.csv")
students_data = Path("students_complete.csv")

# Read previously loaded data files and store them into Pandas DataFrames
school_data = pd.read_csv(schools_data)
student_data = pd.read_csv(students_data)

# Combine files into one dataset
complete_school_data = pd.merge(student_data, school_data, how="left",
                        on=["school_name", "school_name"])
complete_school_data.sample(10)

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
29630,29630,Ashley Aguirre,F,11th,Rodriguez High School,87,59,11,District,3999,2547363
38440,38440,Bridget Benitez,F,10th,Thomas High School,97,94,14,Charter,1635,1043130
14431,14431,Anna Cabrera,F,12th,Wilson High School,99,83,5,Charter,2283,1319574
11401,11401,Phillip Bonilla,M,9th,Hernandez High School,73,94,3,District,4635,3022020
20153,20153,James Lee,M,11th,Bailey High School,94,99,7,District,4976,3124928
21210,21210,Michelle Brandt,F,10th,Bailey High School,73,73,7,District,4976,3124928
20200,20200,Jessica Hart,F,9th,Bailey High School,74,97,7,District,4976,3124928
13439,13439,Elizabeth Hull,F,9th,Griffin High School,69,81,4,Charter,1468,917500
16586,16586,Thomas Brooks,M,10th,Cabrera High School,72,69,6,Charter,1858,1081356
515,515,Brandon Johnson,M,10th,Huang High School,80,74,0,District,2917,1910635

## District Summary

In [2]:
#calculate the number of unique schools
school_count = school_data["school_name"].nunique()

In [3]:
school_count

15

In [4]:
#calculate the total number of students
student_count = complete_school_data["Student ID"].count()
#school_count["Student ID"]

In [5]:
student_count

39170

In [6]:
#calculate the total budget using school_data
total_budget = school_data["budget"].sum()
#total_budget["budget"]

In [7]:
total_budget

24649428

In [8]:
#calculate the average (mean) math score
average_math_score = complete_school_data["math_score"].mean()

In [9]:
average_math_score

78.98537145774827

In [10]:
#calculate the average (mean) reading score
average_reading_score = complete_school_data["reading_score"].mean()

In [11]:
average_reading_score

81.87784018381414

In [12]:
#Calculate the % of students who passed math (scores >= 70)
passing_math_count = complete_school_data[(complete_school_data["math_score"] >= 70)].count()["student_name"]
passing_math_percentage = passing_math_count/ float(student_count) *100

In [13]:
passing_math_count

29370

In [14]:
#Calculate the % of students who passed reading (scores >= 70)
passing_reading_count = complete_school_data[(complete_school_data["reading_score"] >= 70)].count()["student_name"]
passig_reading_percentage = passing_reading_count/ float(student_count) *100

In [15]:
passing_reading_count

33610

In [16]:
passing_both_count = complete_school_data[(complete_school_data["math_score"] >= 70) &
    (complete_school_data["reading_score"] >= 70)].count()["student_name"]
passing_both_percentage = passing_both_count/ float(student_count) *100

In [17]:
passing_both_count

25528

In [18]:
#Create a high_level snapshot of the districts's key metrics in a DataFrame
data = [{"Number of Schools": school_count, "Total Students": student_count, "Total Budget": total_budget,
       "Average Math Score": average_math_score, "Average Reading Score": average_reading_score,
       "Passing Math": passing_math_percentage, "Passing Reading": passig_reading_percentage,
       "Overall Passing": passing_both_percentage}]
district_summary = pd.DataFrame(data)

#Formatting
district_summary["Total Students"]= district_summary["Total Students"].map("{:,}".format)
district_summary["Total Budget"]= district_summary["Total Budget"].map("${:,.2f}".format)
district_summary["Average Math Score"]= district_summary["Average Math Score"].map("{:,.2f}".format)
district_summary["Average Reading Score"]= district_summary["Average Reading Score"].map("{:,.2f}".format)
district_summary["Passing Math"]= district_summary["Passing Math"].map("{:,.2f}%".format)
district_summary["Passing Reading"]= district_summary["Passing Reading"].map("{:,.2f}%".format)
district_summary["Overall Passing"]= district_summary["Overall Passing"].map("{:,.2f}%".format)

#Display Data Frame
display(district_summary)

,Number of Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,Passing Math,Passing Reading,Overall Passing
0,15,"39,170","$24,649,428.00",78.99,81.88,74.98%,85.81%,65.17%

## School Summary

In [19]:
school_name = complete_school_data.groupby("school_name")["school_name"].unique()
#school_name = school_name.reset_index(drop=True)

In [20]:
display(school_name)

school_name
Bailey High School          [Bailey High School]
Cabrera High School        [Cabrera High School]
Figueroa High School      [Figueroa High School]
Ford High School              [Ford High School]
Griffin High School        [Griffin High School]
Hernandez High School    [Hernandez High School]
Holden High School          [Holden High School]
Huang High School            [Huang High School]
Johnson High School        [Johnson High School]
Pena High School              [Pena High School]
Rodriguez High School    [Rodriguez High School]
Shelton High School        [Shelton High School]
Thomas High School          [Thomas High School]
Wilson High School          [Wilson High School]
Wright High School          [Wright High School]
Name: school_name, dtype: object

In [21]:
#select all of the school types
school_types = complete_school_data.groupby("school_name")["type"].unique()

In [22]:
display(school_types)

school_name
Bailey High School       [District]
Cabrera High School       [Charter]
Figueroa High School     [District]
Ford High School         [District]
Griffin High School       [Charter]
Hernandez High School    [District]
Holden High School        [Charter]
Huang High School        [District]
Johnson High School      [District]
Pena High School          [Charter]
Rodriguez High School    [District]
Shelton High School       [Charter]
Thomas High School        [Charter]
Wilson High School        [Charter]
Wright High School        [Charter]
Name: type, dtype: object

In [23]:
#Calculate the total student count per school
per_school_counts = complete_school_data["school_name"].value_counts()

In [24]:
display(per_school_counts)

Bailey High School       4976
Johnson High School      4761
Hernandez High School    4635
Rodriguez High School    3999
Figueroa High School     2949
Huang High School        2917
Ford High School         2739
Wilson High School       2283
Cabrera High School      1858
Wright High School       1800
Shelton High School      1761
Thomas High School       1635
Griffin High School      1468
Pena High School          962
Holden High School        427
Name: school_name, dtype: int64

In [25]:
#Calculate the total school budget and per capita spending per school
per_school_budget = complete_school_data.groupby("school_name")["budget"].mean()
per_school_capita = per_school_budget / per_school_counts

In [26]:
per_school_budget

school_name
Bailey High School       3124928.0
Cabrera High School      1081356.0
Figueroa High School     1884411.0
Ford High School         1763916.0
Griffin High School       917500.0
Hernandez High School    3022020.0
Holden High School        248087.0
Huang High School        1910635.0
Johnson High School      3094650.0
Pena High School          585858.0
Rodriguez High School    2547363.0
Shelton High School      1056600.0
Thomas High School       1043130.0
Wilson High School       1319574.0
Wright High School       1049400.0
Name: budget, dtype: float64

In [27]:
per_school_capita

Bailey High School       628.0
Cabrera High School      582.0
Figueroa High School     639.0
Ford High School         644.0
Griffin High School      625.0
Hernandez High School    652.0
Holden High School       581.0
Huang High School        655.0
Johnson High School      650.0
Pena High School         609.0
Rodriguez High School    637.0
Shelton High School      600.0
Thomas High School       638.0
Wilson High School       578.0
Wright High School       583.0
dtype: float64

In [28]:
#Calculate the average test scores per school
per_school_math = complete_school_data.groupby("school_name")["math_score"].mean()
per_school_reading = complete_school_data.groupby("school_name")["reading_score"].mean()

In [29]:
#Calculate the number of students per school with math scores 70 or higher
students_passing_math = complete_school_data[(complete_school_data["math_score"] >= 70)]

school_students_passing_math =  students_passing_math.groupby("school_name")["student_name"].count()

In [30]:
students_passing_math

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
5,5,Bryan Miranda,M,9th,Huang High School,94,94,0,District,2917,1910635
6,6,Sheena Carter,F,11th,Huang High School,82,80,0,District,2917,1910635
8,8,Michael Roth,M,10th,Huang High School,95,87,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,14,Charter,1635,1043130
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,Charter,1635,1043130

In [31]:
school_students_passing_math

school_name
Bailey High School       3318
Cabrera High School      1749
Figueroa High School     1946
Ford High School         1871
Griffin High School      1371
Hernandez High School    3094
Holden High School        395
Huang High School        1916
Johnson High School      3145
Pena High School          910
Rodriguez High School    2654
Shelton High School      1653
Thomas High School       1525
Wilson High School       2143
Wright High School       1680
Name: student_name, dtype: int64

In [32]:
average_math_score = complete_school_data.groupby("school_name")["math_score"].mean()

In [33]:
average_math_score

school_name
Bailey High School       77.048432
Cabrera High School      83.061895
Figueroa High School     76.711767
Ford High School         77.102592
Griffin High School      83.351499
Hernandez High School    77.289752
Holden High School       83.803279
Huang High School        76.629414
Johnson High School      77.072464
Pena High School         83.839917
Rodriguez High School    76.842711
Shelton High School      83.359455
Thomas High School       83.418349
Wilson High School       83.274201
Wright High School       83.682222
Name: math_score, dtype: float64

In [34]:
#Calculate the number of students per school with reading scores 70 or higher
students_passing_reading = complete_school_data[(complete_school_data["reading_score"] >= 70)]
school_students_passing_reading = students_passing_reading.groupby("school_name")["student_name"].count()

In [35]:
school_students_passing_reading

school_name
Bailey High School       4077
Cabrera High School      1803
Figueroa High School     2381
Ford High School         2172
Griffin High School      1426
Hernandez High School    3748
Holden High School        411
Huang High School        2372
Johnson High School      3867
Pena High School          923
Rodriguez High School    3208
Shelton High School      1688
Thomas High School       1591
Wilson High School       2204
Wright High School       1739
Name: student_name, dtype: int64

In [36]:
average_reading_score = complete_school_data.groupby("school_name")["reading_score"].mean()

In [37]:
average_reading_score

school_name
Bailey High School       81.033963
Cabrera High School      83.975780
Figueroa High School     81.158020
Ford High School         80.746258
Griffin High School      83.816757
Hernandez High School    80.934412
Holden High School       83.814988
Huang High School        81.182722
Johnson High School      80.966394
Pena High School         84.044699
Rodriguez High School    80.744686
Shelton High School      83.725724
Thomas High School       83.848930
Wilson High School       83.989488
Wright High School       83.955000
Name: reading_score, dtype: float64

In [38]:
# Use the provided code to calculate the number of students per school that passed both math and reading with scores of 70 or higher
students_passing_math_and_reading = complete_school_data[
    (complete_school_data["reading_score"] >= 70) & (complete_school_data["math_score"] >= 70)]
school_students_passing_math_and_reading = students_passing_math_and_reading.groupby(["school_name"]).size()

In [39]:
students_passing_math_and_reading

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
5,5,Bryan Miranda,M,9th,Huang High School,94,94,0,District,2917,1910635
6,6,Sheena Carter,F,11th,Huang High School,82,80,0,District,2917,1910635
8,8,Michael Roth,M,10th,Huang High School,95,87,0,District,2917,1910635
9,9,Matthew Greene,M,10th,Huang High School,96,84,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,14,Charter,1635,1043130
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,Charter,1635,1043130

In [40]:
# Use the provided code to calculate the passing rates
per_school_passing_math = students_passing_math.groupby(["school_name"]).count()["student_name"] / per_school_counts * 100
per_school_passing_reading = school_students_passing_reading / per_school_counts * 100
overall_passing_rate = school_students_passing_math_and_reading / per_school_counts * 100

In [41]:
per_school_passing_math

Bailey High School       66.680064
Cabrera High School      94.133477
Figueroa High School     65.988471
Ford High School         68.309602
Griffin High School      93.392371
Hernandez High School    66.752967
Holden High School       92.505855
Huang High School        65.683922
Johnson High School      66.057551
Pena High School         94.594595
Rodriguez High School    66.366592
Shelton High School      93.867121
Thomas High School       93.272171
Wilson High School       93.867718
Wright High School       93.333333
dtype: float64

In [42]:
# Create a DataFrame called `per_school_summary` with columns for the calculations above.
per_school_summary = pd.DataFrame({
    
    "School Name": school_name,
    "School Type": school_types,
    "Total Students": per_school_counts,
    "Total School Budget": per_school_budget,
    "Per Student Budget": per_school_capita,
    "Average Math Score": average_math_score,
    "Average Reading Score": average_reading_score,
    "Passing Math": per_school_passing_math,
    "Passing Reading": per_school_passing_reading,
    "Overall Passing": overall_passing_rate,

})

# Formatting
per_school_summary["Total School Budget"] = per_school_summary["Total School Budget"].map("${:,.2f}".format)
per_school_summary["Per Student Budget"] = per_school_summary["Per Student Budget"].map("${:,.2f}".format)
per_school_summary["Average Math Score"]= per_school_summary["Average Math Score"].map("{:,.2f}".format)                                                                                       
per_school_summary["Average Reading Score"]= per_school_summary["Average Reading Score"].map("{:,.2f}".format)
per_school_summary["Passing Math"]= per_school_summary["Passing Math"].map("{:,.2f}%".format)
per_school_summary["Passing Reading"]= per_school_summary["Passing Reading"].map("{:,.2f}%".format)
per_school_summary["Overall Passing"]= per_school_summary["Overall Passing"].map("{:,.2f}%".format)

# Display the DataFrame
display(per_school_summary)

,School Name,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,Passing Math,Passing Reading,Overall Passing
Bailey High School,[Bailey High School],[District],4976,"$3,124,928.00",$628.00,77.05,81.03,66.68%,81.93%,54.64%
Cabrera High School,[Cabrera High School],[Charter],1858,"$1,081,356.00",$582.00,83.06,83.98,94.13%,97.04%,91.33%
Figueroa High School,[Figueroa High School],[District],2949,"$1,884,411.00",$639.00,76.71,81.16,65.99%,80.74%,53.20%
Ford High School,[Ford High School],[District],2739,"$1,763,916.00",$644.00,77.10,80.75,68.31%,79.30%,54.29%
Griffin High School,[Griffin High School],[Charter],1468,"$917,500.00",$625.00,83.35,83.82,93.39%,97.14%,90.60%
Hernandez High School,[Hernandez High School],[District],4635,"$3,022,020.00",$652.00,77.29,80.93,66.75%,80.86%,53.53%
Holden High School,[Holden High School],[Charter],427,"$248,087.00",$581.00,83.80,83.81,92.51%,96.25%,89.23%
Huang High School,[Huang High School],[District],2917,"$1,910,635.00",$655.00,76.63,81.18,65.68%,81.32%,53.51%
Johnson High School,[Johnson High School],[District],4761,"$3,094,650.00",$650.00,77.07,80.97,66.06%,81.22%,53.54%
Pena High School,[Pena High School],[Charter],962,"$585,858.00",$609.00,83.84,84.04,94.59%,95.95%,90.54%
Rodriguez High School,[Rodriguez High School],[District],3999,"$2,547,363.00",$637.00,76.84,80.74,66.37%,80.22%,52.99%
Shelton High School,[Shelton High School],[Charter],1761,"$1,056,600.00",$600.00,83.36,83.73,93.87%,95.85%,89.89%
Thomas High School,[Thomas High School],[Charter],1635,"$1,043,130.00",$638.00,83.42,83.85,93.27%,97.31%,90.95%
Wilson High School,[Wilson High School],[Charter],2283,"$1,319,574.00",$578.00,83.27,83.99,93.87%,96.54%,90.58%
Wright High School,[Wright High School],[Charter],1800,"$1,049,400.00",$583.00,83.68,83.95,93.33%,96.61%,90.33%

## Highest-Performing Schools (by Overall % Passing)

In [43]:
# Sort the schools by `% Overall Passing` in descending order and display the top 5 rows.
top_schools = per_school_summary.sort_values("Overall Passing", ascending = False)
top_schools.head(5)

,School Name,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,Passing Math,Passing Reading,Overall Passing
Cabrera High School,[Cabrera High School],[Charter],1858,"$1,081,356.00",$582.00,83.06,83.98,94.13%,97.04%,91.33%
Thomas High School,[Thomas High School],[Charter],1635,"$1,043,130.00",$638.00,83.42,83.85,93.27%,97.31%,90.95%
Griffin High School,[Griffin High School],[Charter],1468,"$917,500.00",$625.00,83.35,83.82,93.39%,97.14%,90.60%
Wilson High School,[Wilson High School],[Charter],2283,"$1,319,574.00",$578.00,83.27,83.99,93.87%,96.54%,90.58%
Pena High School,[Pena High School],[Charter],962,"$585,858.00",$609.00,83.84,84.04,94.59%,95.95%,90.54%

## Bottom- Performing Schools (by Overall % Passing)

In [44]:
# Sort the schools by `% Overall Passing` in ascending order and display the top 5 rows.
bottom_schools = per_school_summary.sort_values("Overall Passing", ascending = True)

bottom_schools.head(5)

,School Name,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,Passing Math,Passing Reading,Overall Passing
Rodriguez High School,[Rodriguez High School],[District],3999,"$2,547,363.00",$637.00,76.84,80.74,66.37%,80.22%,52.99%
Figueroa High School,[Figueroa High School],[District],2949,"$1,884,411.00",$639.00,76.71,81.16,65.99%,80.74%,53.20%
Huang High School,[Huang High School],[District],2917,"$1,910,635.00",$655.00,76.63,81.18,65.68%,81.32%,53.51%
Hernandez High School,[Hernandez High School],[District],4635,"$3,022,020.00",$652.00,77.29,80.93,66.75%,80.86%,53.53%
Johnson High School,[Johnson High School],[District],4761,"$3,094,650.00",$650.00,77.07,80.97,66.06%,81.22%,53.54%

## Math Scores by Grade

In [45]:
# Use the code provided to separate the data by grade
ninth_graders = complete_school_data[(complete_school_data["grade"] == "9th")]
tenth_graders = complete_school_data[(complete_school_data["grade"] == "10th")]
eleventh_graders = complete_school_data[(complete_school_data["grade"] == "11th")]
twelfth_graders = complete_school_data[(complete_school_data["grade"] == "12th")]

# Group by `school_name` and take the mean of the `math_score` column for each.
ninth_grade_math_scores = ninth_graders.groupby("school_name")["math_score"].mean()
tenth_grader_math_scores = tenth_graders.groupby("school_name")["math_score"].mean()
eleventh_grader_math_scores = eleventh_graders.groupby("school_name")["math_score"].mean()
twelfth_grader_math_scores = twelfth_graders.groupby("school_name")["math_score"].mean()

# Combine each of the scores above into single DataFrame called `math_scores_by_grade`
math_scores_by_grade = {"9th": (ninth_grade_math_scores),
                        "10th": (tenth_grader_math_scores),
                        "11th": (eleventh_grader_math_scores),
                        "12th": (twelfth_grader_math_scores)
                       }

math_scores_by_grade = pd.DataFrame(math_scores_by_grade)

# Minor data wrangling
math_scores_by_grade.index.name = None

# Display the DataFrame
display(math_scores_by_grade)

                             9th       10th       11th       12th
Bailey High School     77.083676  76.996772  77.515588  76.492218
Cabrera High School    83.094697  83.154506  82.765560  83.277487
Figueroa High School   76.403037  76.539974  76.884344  77.151369
Ford High School       77.361345  77.672316  76.918058  76.179963
Griffin High School    82.044010  84.229064  83.842105  83.356164
Hernandez High School  77.438495  77.337408  77.136029  77.186567
Holden High School     83.787402  83.429825  85.000000  82.855422
Huang High School      77.027251  75.908735  76.446602  77.225641
Johnson High School    77.187857  76.691117  77.491653  76.863248
Pena High School       83.625455  83.372000  84.328125  84.121547
Rodriguez High School  76.859966  76.612500  76.395626  77.690748
Shelton High School    83.420755  82.917411  83.383495  83.778976
Thomas High School     83.590022  83.087886  83.498795  83.497041
Wilson High School     83.085578  83.724422  83.195326  83.035794
Wright High School     83.264706  84.010288  83.836782  83.644986

## Reading Score by Grade

In [46]:
# Use the code provided to separate the data by grade
ninth_graders = complete_school_data[(complete_school_data["grade"] == "9th")]
tenth_graders = complete_school_data[(complete_school_data["grade"] == "10th")]
eleventh_graders = complete_school_data[(complete_school_data["grade"] == "11th")]
twelfth_graders = complete_school_data[(complete_school_data["grade"] == "12th")]

# Group by `school_name` and take the mean of the the `reading_score` column for each.
ninth_grade_reading_scores = ninth_graders.groupby("school_name")["reading_score"].mean()
tenth_grader_reading_scores = tenth_graders.groupby("school_name")["reading_score"].mean()
eleventh_grader_reading_scores = eleventh_graders.groupby("school_name")["reading_score"].mean()
twelfth_grader_reading_scores = twelfth_graders.groupby("school_name")["reading_score"].mean()

# Combine each of the scores above into single DataFrame called `reading_scores_by_grade`
reading_scores_by_grade = {"9th": (ninth_grade_reading_scores),
                        "10th": (tenth_grader_reading_scores),
                        "11th": (eleventh_grader_reading_scores),
                        "12th": (twelfth_grader_reading_scores)
                       }

reading_scores_by_grade = pd.DataFrame(reading_scores_by_grade)


# Minor data wrangling
reading_scores_by_grade = reading_scores_by_grade[["9th", "10th", "11th", "12th"]]
reading_scores_by_grade.index.name = None

# Display the DataFrame
display(reading_scores_by_grade)

                             9th       10th       11th       12th
Bailey High School     81.303155  80.907183  80.945643  80.912451
Cabrera High School    83.676136  84.253219  83.788382  84.287958
Figueroa High School   81.198598  81.408912  80.640339  81.384863
Ford High School       80.632653  81.262712  80.403642  80.662338
Griffin High School    83.369193  83.706897  84.288089  84.013699
Hernandez High School  80.866860  80.660147  81.396140  80.857143
Holden High School     83.677165  83.324561  83.815534  84.698795
Huang High School      81.290284  81.512386  81.417476  80.305983
Johnson High School    81.260714  80.773431  80.616027  81.227564
Pena High School       83.807273  83.612000  84.335938  84.591160
Rodriguez High School  80.993127  80.629808  80.864811  80.376426
Shelton High School    84.122642  83.441964  84.373786  82.781671
Thomas High School     83.728850  84.254157  83.585542  83.831361
Wilson High School     83.939778  84.021452  83.764608  84.317673
Wright High School     83.833333  83.812757  84.156322  84.073171

## Scores by School Spending

In [48]:
# Establish the bins 
spending_bins = [0, 585, 630, 645, 680]
labels = ["<$585", "$585-630", "$630-645", "$645-680"]

# Create a copy of the school summary since it has the "Per Student Budget" 
school_spending_df = per_school_summary.copy()

# Use `pd.cut` to categorize spending based on the bins.
school_spending_df["Spending Ranges (Per Student)"] = pd.cut(per_school_capita, bins = spending_bins, labels = labels)
school_spending_df

,School Name,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,Passing Math,Passing Reading,Overall Passing,Spending Ranges (Per Student)
Bailey High School,[Bailey High School],[District],4976,"$3,124,928.00",$628.00,77.05,81.03,66.68%,81.93%,54.64%,$585-630
Cabrera High School,[Cabrera High School],[Charter],1858,"$1,081,356.00",$582.00,83.06,83.98,94.13%,97.04%,91.33%,<$585
Figueroa High School,[Figueroa High School],[District],2949,"$1,884,411.00",$639.00,76.71,81.16,65.99%,80.74%,53.20%,$630-645
Ford High School,[Ford High School],[District],2739,"$1,763,916.00",$644.00,77.10,80.75,68.31%,79.30%,54.29%,$630-645
Griffin High School,[Griffin High School],[Charter],1468,"$917,500.00",$625.00,83.35,83.82,93.39%,97.14%,90.60%,$585-630
Hernandez High School,[Hernandez High School],[District],4635,"$3,022,020.00",$652.00,77.29,80.93,66.75%,80.86%,53.53%,$645-680
Holden High School,[Holden High School],[Charter],427,"$248,087.00",$581.00,83.80,83.81,92.51%,96.25%,89.23%,<$585
Huang High School,[Huang High School],[District],2917,"$1,910,635.00",$655.00,76.63,81.18,65.68%,81.32%,53.51%,$645-680
Johnson High School,[Johnson High School],[District],4761,"$3,094,650.00",$650.00,77.07,80.97,66.06%,81.22%,53.54%,$645-680
Pena High School,[Pena High School],[Charter],962,"$585,858.00",$609.00,83.84,84.04,94.59%,95.95%,90.54%,$585-630
Rodriguez High School,[Rodriguez High School],[District],3999,"$2,547,363.00",$637.00,76.84,80.74,66.37%,80.22%,52.99%,$630-645
Shelton High School,[Shelton High School],[Charter],1761,"$1,056,600.00",$600.00,83.36,83.73,93.87%,95.85%,89.89%,$585-630
Thomas High School,[Thomas High School],[Charter],1635,"$1,043,130.00",$638.00,83.42,83.85,93.27%,97.31%,90.95%,$630-645
Wilson High School,[Wilson High School],[Charter],2283,"$1,319,574.00",$578.00,83.27,83.99,93.87%,96.54%,90.58%,<$585
Wright High School,[Wright High School],[Charter],1800,"$1,049,400.00",$583.00,83.68,83.95,93.33%,96.61%,90.33%,<$585

In [49]:
#  Calculate averages for the desired columns. 
spending_math_scores = school_spending_df.groupby(["Spending Ranges (Per Student)"])["Average Math Score"].mean()
spending_reading_scores = school_spending_df.groupby(["Spending Ranges (Per Student)"])["Average Reading Score"].mean()
spending_passing_math = school_spending_df.groupby(["Spending Ranges (Per Student)"])["% Passing Math"].mean()
spending_passing_reading = school_spending_df.groupby(["Spending Ranges (Per Student)"])["% Passing Reading"].mean()
overall_passing_spending = school_spending_df.groupby(["Spending Ranges (Per Student)"])["% Overall Passing"].mean()

# Assemble into DataFrame
spending_summary = {"Average Math Score": (spending_math_scores),
                    "Average Reading Score": (spending_reading_scores),
                    "% Passing Math": (spending_passing_math),
                    "% Passing Reading": (spending_passing_reading),
                    "% Overall Passing": (overall_passing_spending) }

spending_summary = pd.DataFrame(spending_summary)

# Display results
display(spending_summary)

TypeError: Could not convert 83.0683.8083.2783.68 to numeric

## Scores by School Size

In [50]:
# Establish the bins.
size_bins = [0, 1000, 2000, 5000]
labels = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

# Categorize the spending based on the bins
# Use `pd.cut` on the "Total Students" column of the `per_school_summary` DataFrame.

per_school_summary["School Size"] = pd.cut(per_school_summary["Total Students"],bins = size_bins, labels = labels)
per_school_summary

,School Name,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,Passing Math,Passing Reading,Overall Passing,School Size
Bailey High School,[Bailey High School],[District],4976,"$3,124,928.00",$628.00,77.05,81.03,66.68%,81.93%,54.64%,Large (2000-5000)
Cabrera High School,[Cabrera High School],[Charter],1858,"$1,081,356.00",$582.00,83.06,83.98,94.13%,97.04%,91.33%,Medium (1000-2000)
Figueroa High School,[Figueroa High School],[District],2949,"$1,884,411.00",$639.00,76.71,81.16,65.99%,80.74%,53.20%,Large (2000-5000)
Ford High School,[Ford High School],[District],2739,"$1,763,916.00",$644.00,77.10,80.75,68.31%,79.30%,54.29%,Large (2000-5000)
Griffin High School,[Griffin High School],[Charter],1468,"$917,500.00",$625.00,83.35,83.82,93.39%,97.14%,90.60%,Medium (1000-2000)
Hernandez High School,[Hernandez High School],[District],4635,"$3,022,020.00",$652.00,77.29,80.93,66.75%,80.86%,53.53%,Large (2000-5000)
Holden High School,[Holden High School],[Charter],427,"$248,087.00",$581.00,83.80,83.81,92.51%,96.25%,89.23%,Small (<1000)
Huang High School,[Huang High School],[District],2917,"$1,910,635.00",$655.00,76.63,81.18,65.68%,81.32%,53.51%,Large (2000-5000)
Johnson High School,[Johnson High School],[District],4761,"$3,094,650.00",$650.00,77.07,80.97,66.06%,81.22%,53.54%,Large (2000-5000)
Pena High School,[Pena High School],[Charter],962,"$585,858.00",$609.00,83.84,84.04,94.59%,95.95%,90.54%,Small (<1000)
Rodriguez High School,[Rodriguez High School],[District],3999,"$2,547,363.00",$637.00,76.84,80.74,66.37%,80.22%,52.99%,Large (2000-5000)
Shelton High School,[Shelton High School],[Charter],1761,"$1,056,600.00",$600.00,83.36,83.73,93.87%,95.85%,89.89%,Medium (1000-2000)
Thomas High School,[Thomas High School],[Charter],1635,"$1,043,130.00",$638.00,83.42,83.85,93.27%,97.31%,90.95%,Medium (1000-2000)
Wilson High School,[Wilson High School],[Charter],2283,"$1,319,574.00",$578.00,83.27,83.99,93.87%,96.54%,90.58%,Large (2000-5000)
Wright High School,[Wright High School],[Charter],1800,"$1,049,400.00",$583.00,83.68,83.95,93.33%,96.61%,90.33%,Medium (1000-2000)

In [51]:
# Calculate averages for the desired columns. 
size_math_scores = per_school_summary.groupby(["School Size"])["Average Math Score"].mean()
size_reading_scores = per_school_summary.groupby(["School Size"])["Average Reading Score"].mean()
size_passing_math = per_school_summary.groupby(["School Size"])["% Passing Math"].mean()
size_passing_reading = per_school_summary.groupby(["School Size"])["% Passing Reading"].mean()
size_overall_passing = per_school_summary.groupby(["School Size"])["% Overall Passing"].mean()

TypeError: Could not convert 83.8083.84 to numeric

In [52]:
# Create a DataFrame called `size_summary` that breaks down school performance based on school size (small, medium, or large).
# Use the scores above to create a new DataFrame called `size_summary`
size_summary = {"Average Math Score": (size_math_scores),
                "Average Reading Score": (ssize_reading_scores),
                "% Passing Math": (size_passing_math),
                "% Passing Reading": (size_passing_reading),
                "% Overall Passing": (size_overall_passing)
               }

size_summary = pd.DataFrame(size_summary)

# Display results
display(size_summary)

NameError: name 'size_math_scores' is not defined

## Scores by School Type

In [53]:
# Group the per_school_summary DataFrame by "School Type" and average the results.
average_math_score_by_type = per_school_summary.groupby(["School Type"])["Average Math Score"].mean()
average_reading_score_by_type = per_school_summary.groupby(["School Type"])["Average Reading Score"].mean()
average_percent_passing_math_by_type = per_school_summary.groupby(["School Type"])["% Passing Math"].mean()
average_percent_passing_reading_by_type = per_school_summary.groupby(["School Type"])["% Passing Reading"].mean()
average_percent_overall_passing_by_type = per_school_summary.groupby(["School Type"])["% Overall Passing"].mean()

# Assemble the new data by type into a DataFrame called `type_summary`
type_summary = {"Average Math Score": (average_math_score_by_type),
                "Average Reading Score": (average_reading_score_by_type),
                "% Passing Math": (average_percent_passing_math_by_type),
                "% Passing Reading": (average_percent_passing_reading_by_type),
                "% Overall Passing": (average_percent_overall_passing_by_type)
               }
type_summary = pd.DataFrame(type_summary)
# Display results
display(type_summary)

TypeError: unhashable type: 'numpy.ndarray'